{% extends "mainpage_base.html" %}

{% block text %}
<strong>Contacts:</strong>
<br>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
</svg>&nbsp;Email: dixit-online@yandex.ru &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% endblock %}

{% block buttons %}
    <p class="display-6 text-warning">
        How to play Dixit on our website
    </p>
    <p class="fs-4 text-light">
        0. Read the rules
    </p>
    <p class="fs-5 fw-light text-light">
        Rules located <a href="/rules" class="link-warning" target="_blank">here</a>
    </p>

    <p class="fs-4 text-light">
        1. Start
    </p>
    <img src="{{url_for('static', filename='img/first_step.png')}}" width="100%">
    <p class="fs-4 text-light">
        1a. Creating game
    </p>
    <img src="{{url_for('static', filename='img/firsta_step.png')}}" width="100%">
    <p class="fs-4 text-light">
        2. Page with links
    </p>
    <img src="{{url_for('static', filename='img/second_step.png')}}" width="100%">
    <p class="fs-4 text-light">
        3. Player cards
    </p>
    <br>
    <p class="fs-5 fw-light text-light">
       Use these buttons to scroll through the cards
    </p>
    <img src="{{url_for('static', filename='img/thirdc_step.png')}}" width="100%">
    <p class="fs-5 fw-light text-light">
       Form fields
    </p>
    <img src="{{url_for('static', filename='img/third_step.png')}}" width="100%">
    <p class="fs-5 fw-light text-light">
       If you are not a storyteller, your form will look something like this
    </p>
    <img src="{{url_for('static', filename='img/thirds_step.png')}}" width="100%">
{% endblock %}