{% extends "mainpage_base.html" %}

{% block text %}
<mark><strong>How to play</strong></mark>
<br>
Rules located <a href="/rules" class="link-warning" target="_blank">here</a>
{% endblock %}
{% block buttons %}
    <p class="text-warning fs-3"> Not realize? Video with explanations
        <a href="https://yandex.ru/video/preview/?text=dixit%20rules&path=wizard&parent-reqid=1618653306790099-1736582995483172428200103-production-app-host-man-web-yp-1&wiz_type=vital&filmId=17088749703779128446" class="link-warning" target="_blank">here</a>
        <br>
        On russian
        <a href="https://yandex.ru/video/preview/?text=rules%20dixit%27&path=wizard&parent-reqid=1618653741141048-673091039274976978300169-production-app-host-man-web-yp-148&wiz_type=vital&filmId=9562442031627754072" class="link-warning" target="_blank">here</a>
</p>
{% endblock %}