{% extends "base.html" %}

{% block content %}
<br>
<br>
<div class="container bg-dark text-light rounded-3 form_class">
    <h1>Authorisation</h1>
            <a class="btn btn-outline-warning" href="/" type="button">Return to the main page</a>
    <form action="" method="post" class="container bg-dark text-light">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control", type="name") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-warning") }}</p>
        <div>{{ message }}</div>
    </form>
    <br>
</div>
{% endblock %}