{% extends "mainpage_base.html" %}

{% block text %}
<p class="fs-5 fw-light text-light">
<strong>Contacts:</strong>
<br>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
</svg>&nbsp;Email: dixit-online@yandex.ru <br>
<strong>Average game duration:</strong>
<br>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>&nbsp;
30-40 min
<br>
<strong>Average number of players:</strong>
<br>&nbsp;
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
  <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
</svg>
3-10
<br>
If this is your first time here, we recommend you to read our short <a href="/brief_guide" class="link-warning">guide</a>
</p>
{% endblock %}

{% block buttons %}
    <br>
            {% if message %}
              <p class="alert alert-warning" role="alert">
                        {{ message }}
                    </p>
              {% endif %}
    <br>

    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
      Create game
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel2">Creating game</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post">
                <div class="form-check form-switch">
                  <input class="form-check-input bg-warning" type="checkbox" id="flexSwitchCheckDefault" name="quick_game">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Quick game(up to 15 points)</label>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text">Players' names</span>
                    <div class="form-floating">
                        <textarea class="form-control" name="names" id="names" placeholder="Names" style="width: 300px; height: 100px;" required></textarea>
                        <label for="names">Enter one name on each line</label>
                    </div>
                  </div>
                <br>
                {% if message %}
              <p class="alert alert-warning" role="alert">
                        {{ message }}
                    </p>
              {% endif %}
                <button type="submit" class="btn btn-outline-warning">Create game</button>
                </form>
                </div>
          </div>
        </div>
      </div>

    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
      Join the game
    </button>

    <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel3">Join the game</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post">
                <div class="input-group">
                    <span class="input-group-text">Code</span>
                    <textarea class="form-control" name="code" aria-label="With textarea" required></textarea>
                  </div>
                <br>
                <button type="submit" class="btn btn-outline-warning">Join the game</button>
                </form>
                </div>
          </div>
        </div>
      </div>

{% endblock %}